@import "fonts.css";

* {margin: 0; padding: 0; border: 0; box-sizing: border-box;}
/* size:2048*1536px */
html, body {
  height: 100%;
}

.slidelist {
  /* scroll-snap-type: x mandatory;
  overflow-x: scroll; */
  display: flex;
}

.slide {
  /* flex-basis: 50%; */
  min-width: 100vw;
  overflow: hidden;
  flex-direction: column;
  height: 100vh;
  /* scroll-snap-align: end; */
} 

.slide1 {
  background: url(../img/bg/bg1.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
} 

.slide1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg/1/pink_sperm.png) left top 77vh,
  url(../img/bg/1/Layer\ 4\ copy.png) left 35% top 91%, url(../img/bg/1/Layer\ 4\ copy\ 2.png) left 94% top 4%, url(../img/bg/1/Layer\ 5.png) left 73% top 10%,
  url(../img/bg/1/Layer\ 7.png) left top 9%, url(../img/bg/1/Layer\ 8.png) left 88% top 28%, url(../img/bg/1/pink_sperm_1.png) left 94% top 19%;
  /* background: url(../img/bg/1/imgs.png); */
  background-repeat: no-repeat;
}

.slide2 {
  background: url(../img/bg/bg2.png) no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.slide2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/2/2.png), 
  url(../img/bg/2/3.png),
  url(../img/bg/2/4.png),
  url(../img/bg/2/5.png),
  url(../img/bg/2/6.png);
  background-size: cover; 
  animation: test 1.5s forwards ease-out;
}

.slide3 {
  background: url(../img/bg/bg3.png) no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.bottle {
  position: absolute;
  top: 9%;
  left: -6%;
  z-index: 2;
  height: 100vh;
}

/* .slide3:after {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg/3/img.png) no-repeat;
  background-size: contain; 
  z-index: 1;
} */

.slide4 {
  background: url(../img/bg/4/bg4.png) no-repeat center;
  /* filter: invert(0.2); */
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.slide4:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  z-index: 0;
}

@keyframes test {
  from {
    margin-top:12%;
    margin-left:5%;
  }
  to {
    margin-top:5%;
    left:0;
  }
}

/* .slide1, .slide2 img {
  poiner-events: none;
} */
  
.container {
  margin-left: 6.4vw;
  margin-right: 5vw;
  /* max-width: 2048px;
  max-height: 1536px;*/
  color: black;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

 /*Header*/
.header {
  width: 100%;
  height: 5%;
}

.header-row {
  padding-top: 3.3vh; /*51px*/
  align-items: center;
  width: 16%;
}
  
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none; 
}

.top-home {
  letter-spacing: 3px;
  font-size: 1.8vw;
  text-decoration: none;
  text-transform: uppercase; 
  font-family: 'DINPro', sans-serif;
  /* font-family: Circle Regular - add ; */
}

/*Logo*/

.logo {
  width: 113px;
  height: 23px;
  position: absolute;
  z-index: 3;
      margin-top: 4%;
}

/*Первый слайд*/

.content {
  min-height: 85%;
  width: 100%;
  margin-top: 14%;
}
 
.content-hello {
  font-size: 2.64vw;
  /* margin-top: 14.5vh;  */
  font-family: 'DINPro', sans-serif;
  text-transform: uppercase;
}
.content-title {
  font-family: 'Gilroy Light', sans-serif;
  font-size: 10.64vw;
  line-height: 1.1;
  text-transform: uppercase;
}

.not {
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.what-next {
  display: block;
  width: 577px;
  height: 161px;
  max-width: 28vw;
  max-height: 10vh;
  border-radius: 110px;
  font-size: 1.7vw;
  /* background-color: #ff6a9f; */
  background-color: transparent;
  margin-top: -12.6vh;
  margin-left: 51.8vw;
}

.bakti {
  position: absolute;
  top: 63vh;
  left: 2%;
  animation: 4s bakti linear;
}

@keyframes bakti {
  0% {
      transform: translateY(0);
    } 
    
  60% {
    transform: translateY(50%) translateX(50%);
  }
  100% {
      transform: translateY(0) translateX(0);
  }       
}

.layer {
  position: absolute;
  bottom: 0;
  left: 49%;
  transition: 4s ease-in;
  /* transform: scale(1.5); */
}

/*Второй слайд*/

.content-second {
  min-height: 70%;
  width: 81%;
  margin-top: 14%;
}

.content-text {
  margin-top: 6vh;
  display: flex;
  height: 56vh; /*900px;*/
  width: 100%;
}

.sperm-block {
  overflow-y: auto;
  background-clip: content-box;
  direction: rtl;
  z-index: 1;
  margin-bottom: 5vh;
}

.white {
  background-color: #fff;
  border-radius: 100px;
  width: 75vw;
  position: absolute;
  z-index: 1;
  height: 55vh;
  margin-left: 4vw;
}

.sperm-info {
  font-family: 'DINPro-Regular', sans-serif;
  font-size: 2.1vw;
  color: black;
  text-transform: none;
  text-overflow: clip; /*Текст обрезается по размеру области*/
  text-align: left;
  direction: initial;
  position: relative;
  z-index: 2;
  margin: 3vh 8vh 9vh 8vh;
}

 .scrolling-line { 
  width: 0.5vw;
  height: 56vh;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  margin-left: 0.6vw;
} 

.scrolling {
  width: 40px;
  height: 13.5vh;
  background-color:#cf578d;
  border-radius: 30px;
  position: absolute;
  z-index: 2;
}


.sperm-block::-webkit-scrollbar
{
  width: 1.7vw;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
}

/* .sperm-block::-webkit-scrollbar-track {
  width: 10px;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.sperm-block::-webkit-scrollbar-thumb:vertical {
  height: 13.5vh;
  background-color: #cf578d;
  border-radius: 30px;
}


.spermatozoid {
  font-weight: bold;
}

/*Третий слайд*/

.content-third {
  min-height: 70%;
  width: 100%;
  margin-top: 14%;
  margin-left: 5%;
}

.content-contents  {
  display: flex;
  margin-left: 13.2vw;
  margin-top: 2.6vh;
}

.brend-title {
  font-family: 'Gilroy Extrabold', sans-serif;
  font-size: 9.3vw;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-left: 26%;
}

.dishes {
  font-family: 'dinpro-regular';
  font-size: 2.4vw;
  width: 40.4vw;
  height: 34.5vh;
  padding: 6.9vh 4.9vw 5.6vh 12.1vw;
  background-color: white;
  border-radius: 60px;
  display: block;
  position: relative;
}

.dishes-image {
  width: 6.6vw; 
  height: 8.2vh;
  z-index: 1;
  position: absolute;
  top: -20px;
}

.calendar {
  width: 25.7vw;
  height: 19.5vh;
  padding: 6.9vh 3.4vw 5.8vh 4.2vw;
  background-color: white;
  border-radius: 60px;
  font-family: 'dinpro-regular';
  font-size: 2.4vw;
  position: relative;
}

.calendar-image {
  width: 6.8vw; 
  height: 7.5vh;
  z-index: 1;
  position: absolute;
  top: -20px;
}

.detailed {
  display: block;
  max-width: 577px;
  width: 28vw;
  max-height: 161px;
  height: 10vh;
  border-radius: 110px;
  font-size: 1.7vw;
  background-color: #ff6a9f;
  margin-top: 10.6vh;
}

/*4*/
.fourth-content  {
  background: white;
  border-radius: 60px;
  max-width: 77%;
  height: 74.6%;
  margin-left: 9%;
  margin-top: 10%;
  position: relative;
}

.exit {
  position: absolute;
  top: 5%;
  left: 94%;
  background-color: transparent;
}

.exit:before, .exit:after {
  position: absolute;
  content: ' ';
  top: 5%;
  left: 94%;
  height: 5vh;
  width: 3px;
  background-color: black;
  }
  
  .exit:before {
  transform: rotate(45deg);
  }
  .exit:after {
  transform: rotate(-45deg);
  }

.advantages {
  display: flex;
  margin-left: 27%;
  font-family: 'dinpro-regular';
  font-size: 2.4vw;
  margin-top: 3%;
}

.second-list {
  display: none;
}

.advantages_text {
  padding-right: 8%;
  padding-bottom: 2%;
}

.advantages_list {
  list-style-type: none;
}

.advantages_number {
  color: #8cc9e8;
  font-family: 'gilroy-extrabold';
}

.arrows {
  position: absolute;
  margin-top: 40%;
  display: flex;
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0px 0.3vh 0.3vh 0;
  display: inline-block;
  width: 1.5vh;
  background-color: transparent;
  height: 1.5vh;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.pagination {
  width: 5vw;
  display: flex;
  justify-content: space-around;
}

.pagination-item {
  display: block;
  width: 1vw;
  height: 1vw;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-item:hover {
  background-color: #ff6a9f;
  border: none;
}


@media only screen and (max-device-height : 1535px){
  .content, .content-second, .content-third, .fourth-content {
    margin-top: 10%;
    font-size: 50%;
  }
  .content {
   max-width: 75%;
  }
  .content-title {
    font-size: 15vh;
  }
}

@media only screen and (min-device-width : 1025px) and (min-device-height : 1025px)  and (max-device-width : 2048px) and (max-device-height : 2048px) {
  /* .container {
    margin: auto 0;
  } */
}

@media (min-device-width : 2049px) and (min-device-height : 2049px){
}
