@import "fonts.css";

* {margin: 0; padding: 0; border: 0; box-sizing: border-box;}

html, body {height: 100%;}

.slidelist {
  display: flex;
}

.slide {
  /* flex-basis: 50%; */
  min-width: 100vw;
  overflow: hidden;
  flex-direction: column;
  height: 100vh;
  position: relative;
  /* scroll-snap-align: end; */
} 

.slide1 {
  background: url(../img/bg/bg1.png) no-repeat center;
  background-size: cover;
} 

.slide1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg/1/pink_sperm.png) 0 102%,
  url(../img/bg/1/Layer\ 4\ copy.png) 35% 91% , 
  url(../img/bg/1/Layer\ 4\ copy\ 2.png) 94% 4%,
  url(../img/bg/1/Layer\ 7.png) 0 9%;
  background-repeat: no-repeat;
}

.slide2 {
  background: url(../img/bg/bg2.png) no-repeat center;
  background-size: cover;
}

/* .slide2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/2/2.png), 
  url(../img/bg/2/3.png),
  url(../img/bg/2/4.png),
  url(../img/bg/2/5.png),
  url(../img/bg/2/6.png);
  background-size: cover; 
  animation: sperm 2.5s forwards ease-out;
} */

.slide3 {
  background: url(../img/bg/bg3.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}

/* .slide3:after {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg/3/img.png) no-repeat;
  background-size: contain; 
  z-index: 1;
} */

.popup {
  background: url(../img/bg/4/Rectangle\ 9.png) no-repeat center;
  /* filter: invert(0.2); */
  background-size: cover;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: fixed;
  opacity: 0;
  position: fixed;
  /* position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; */
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

/* .slide4:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/bg/4/Rectangle\ 9.png);
  z-index: 0;
} */

/* .slide1, .slide2 img {
  poiner-events: none;
} */
  
.container {
  margin-left: 6.4vw;
  margin-right: 5vw;
  /* max-width: 2048px;
  max-height: 1536px;*/
  color: black;
  height: 100%;
  position: relative;
  z-index: 1;
}

h1 {
  font-family: 'Gilroy Light', sans-serif;
  font-size: 10.64vw;
  font-size: 14.2vh;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
}

h2 {
  font-size: 2.64vw;
  font-family: 'DINPro', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

 /*Header*/

header {
  padding-top: 3.3vh; /*51px*/
  align-items: center;
  margin-bottom: 11vh;
}

.top {
  display: flex;
  align-items: center;
  list-style-type: none; 
}

.top-project {
  letter-spacing: 3px;
  font-size: 1.8vw;
  text-decoration: none;
  text-transform: uppercase; 
  font-family: 'Circle', sans-serif;
  /*font-family: Circle Regular - add ; */
}

.top-slash {
  width: 0.1vw;
  height: 3.3vh;
  background-color: black;
}

.top li {
  margin: 0 2.5vw 0 0;
}

.top-home img {
  width: 2.2vw;
}

/*Logo*/
.logo {
  position: absolute;
  z-index: 3;
}

/*Первый слайд*/

.bg1__img {
 position: absolute;
}

.content {
  height: 79%;
  z-index: 2;
}

.first-content {
  padding-top: 2vh;
}

.not {
  font-family: 'Gilroy-Extrabold', sans-serif;
}

.what-next {
  width: 22vw;
  max-width: 577px;
  height: 6vw;
  max-height: 161px;
  background-color: transparent;
  text-align: inherit;
  background: url(../img/bg/1/btn.png) no-repeat center;
  background-size: cover;
}

.bakti {
  top: 65vh;
  left: -4%;
  width: 7vw;
  height: 142px;
  animation: 4s bakti linear infinite;
}

@keyframes bakti {
  0% {
      transform: translateY(0);
    }   
  60% {
    transform: translateY(50%) translateX(50%);
  }
  100% {
      transform: translateY(0) translateX(0);
  }       
}

.layer {
  bottom: 0;
  left: 49%;
  width: 22vw;
  animation: 5s layer linear infinite;
  transform: scale(1.2);
}

@keyframes layer {
  0% {
      transform: scale(1) translateX(0);
    }  
  60% {
    transform: scale(1.4) translateX(-2%);
  }
  100% {
    transform: scale(1.1) translateX(-5%);
  }       
}

.pink__sperm__1 {
  bottom: 69%;
  left: 42%;
  /* width: 1183px;
  height: 185px; */
  z-index: 3;
}

.layer__5 {
  top: 9%;
  left: 72%;
  width: 6.1vw;
  height: 114px;
  animation: 4s layer__5 linear infinite;
}

@keyframes layer__5 {
  0% {
      transform: translateX(0);
    } 
    
  60% {
    transform: translateY(5%) translateX(20%);
  }
  100% {
      transform: translateY(0) translateX(0);
  }       
}

.layer__8 {
  top: 25%;
  left: 84%;
  z-index: 3;
  transition: 3s ease;
  animation: Round 8s linear infinite;
}

@keyframes Round {
  from {
    -webkit-transform: rotate(0deg) translateX(15%) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(15%) rotate(-360deg);
  }
  }

/*Второй слайд*/
.bg2__img img {
  width: 100%;
 }

 .layer2 {
  position: absolute;
  animation: sperm 3s forwards ease-out;
}

@keyframes sperm {
  from {
    margin-top:12%;
    margin-left:7%;
  }
  to {
    margin-top:0;
    left:0;
  }
}

.content-text {
  margin-top: 6vh;
  display: flex;
  height: 58vh; /*900px;*/
  width: 100%;
}

.sperm-block {
  overflow: hidden;
  position: relative;
  width: 90%;
  overflow-y: scroll;
  background-clip: content-box;
  direction: rtl;
  z-index: 2;
  margin-bottom: 3%;
  height: 75%;
}

.white {
  background-color: #fff;
  border-radius:  5vw;
  width: 86%;
  position: absolute;
  z-index: 1;
  height: 50%;
  margin-left: 4vw;
  box-shadow: 0 0 70px 0px #dccfcf;
}

.sperm-info {
  font-family: 'DINPro', sans-serif;
  font-size: 2.1vw;
  color: black;
  text-transform: none;
  text-overflow: clip; /*Текст обрезается по размеру области*/
  z-index: 2;
  margin: 2vw 3vw 0 6vw;
  letter-spacing: 0.05vw;
  line-height: 1.35;
  text-align: left;
  direction: initial;
}

/* .sperm-opacity {
  position: absolute;
  background-color: #fff;
  opacity: 1;
  height: 1%;
  width: 95%;
  box-shadow: 0 0 70px 80px white;
} */

 .scrolling-line { 
  width: 0.5vw;
  height: 50vh;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  margin-left: 0.6vw;
} 

/* .scroll {
  width: 40px;
  height: 208px;
  background: url(../img/bg/2/btn.png) no-repeat center;
  background-size: cover;
  position: absolute;
  z-index: 2;
} */

.sperm-block::-webkit-scrollbar
{
  /* width: 2.6vh; */
  width: 40px;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  z-index: 5;
}

/* .sperm-block::-webkit-scrollbar-track {
  width: 10px;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.sperm-block::-webkit-scrollbar-thumb:vertical {
  /* height: 13vh; */
  height: 208px;
  background: url(../img/bg/2/btn.png) no-repeat;
}

.spermatozoid {
  font-weight: bold;
}

/*Третий слайд*/

.bottle {
  /* background: url(../img/bg/3/bottle.png) no-repeat center;
  background-size: cover; */
  position: absolute;
  top: 10%;
  left: -1.5%;
  z-index: 3;
  height: 90vh;
  /* max-width: 466px;
  max-height: 1377px;
  width: 22.7vw;
  height: 1377px; */
}

.bottle img:nth-child() {
  background-image: url();
}

.image3 {
  position: absolute;
  z-index: 4;
}

.ball5 {
  top: 24%;
  left: 18%;
}

.ball6 {
  left: 38%;
  top: 91%;
}

.ball7 {
  top: 10%;
  left: 20%;
  z-index: 1;
}

.ball8 {
  top: 72%;
  left: 2%;
}

.content-third {
  margin-left: 5%;
}

.content-contents  {
  display: flex;
  margin-left: 13.2vw;
  margin-top: 4.5vh;
  text-transform: none;
  font-family: 'dinpro-regular';
  font-size: 2.4vw;
}

.brend-title {
  font-family: 'Gilroy Extrabold', sans-serif;
  font-size: 9.3vw;
  text-transform: uppercase;
  letter-spacing: 1vw;
  margin-left: 26%;
}

.dishes {
  width: 40.4vw;
  height: 34.5vh;
  padding: 6.9vh 4.9vw 5.6vh 12.1vw;
  background-color: white;
  border-radius: 60px;
  display: block;
  position: relative;
}

.dishes-image, .calendar-image {
  z-index: 1;
  position: absolute;
  top: -10%;
}

.calendar {
  width: 25.7vw;
  height: 19.5vh;
  padding: 6.9vh 3.4vw 5.8vh 4.2vw;
  background-color: white;
  border-radius: 60px;
  position: relative;
}

.detailed {
  display: block;
  max-width: 577px;
  max-height: 161px;
  height: 15vh;
  width: 28vw;
  background-color: transparent;
  margin-top: 40%;
  margin-left: -24%;
  background-image: url(../img/bg/3/btn.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

/*4*/
#slide4 {
  transition: all 0.5s ease 0s;
}

.fourth  {
  background: white;
  border-radius: 60px;
  height: 80%;
  width: 88%;
  margin-left: 7vw;
  margin-top: 11.5vh;
  position: relative;
}

.content-hello {
  margin-left: 27%; 
  padding-top:6vh
}

.exit {
  position: absolute;
  top: 5%;
  left: 94%;
  background-color: transparent;
}

.exit:before, .exit:after {
  position: absolute;
  content: ' ';
  top: 5%;
  left: 94%;
  height: 5vh;
  width: 3px;
  background-color: black;
  }
  
  .exit:before {
  transform: rotate(45deg);
  }
  .exit:after {
  transform: rotate(-45deg);
  }

.advantages {
  display: flex;
  margin-left: 27%;
  font-family: 'dinpro-regular';
  font-size: 2.4vw;
  margin-top: 3%;
  flex-direction: column;
}

.advantages-content {
  margin-bottom: 3%;
}

.second-list {
  display: none;
}

.advantages_text {
  padding-right: 8%;
  padding-bottom: 3%;
}

.advantages_list {
  list-style-type: none;
}

.advantages_number {
  color: #8cc9e8;
  font-family: 'gilroy-extrabold';
}

.arrows {
  display: flex;
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0px 0.3vh 0.3vh 0;
  display: inline-block;
  width: 1.5vh;
  background-color: transparent;
  height: 1.5vh;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.pagination {
  width: 5vw;
  display: flex;
  justify-content: space-around;
}

.pagination-item {
  display: block;
  width: 1vw;
  height: 1vw;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-item:hover {
  background-color: #ff6a9f;
  border: none;
}

.pag-left {
  margin-left: 15%;
}

.pag-right{
  margin-right: 15%;
}



@media (min-device-width : 768px) and (max-device-width : 1024px){
  /* .bg1__img img, .logo img, .header img, .bg3__img img {
    width: 50%;
  } */
  .pink__sperm__1 {
    width: 100%;
  }
  .logo img {
    width: 50%;
  }
  .bg1__img img, .bg3__img img, .bottle img, .content-contents img {
    width: 50%;
  } 
  .slide1:after {
    background-size: 26%, 6%, 6%, 10%;
  }
  .sperm-block {
    border-radius: 50px; 
  } 
  .scroll {
    width: 20px;
    height: 104px;
  } 
  .sperm-block::-webkit-scrollbar-thumb:vertical {
    background-size: 50%
  }
}


@media only screen and (max-device-height : 1535px) and (min-device-height : 769px) {
  .what-next img, .logo img, .content-contents img {
    width: 75%;
  }
  .bg1__img img, .bg3__img img {
    width: 65%;
  }
  .top li {
    font-size: 1.4vw;
  }
  .slide1:after {
    background-size: 26%, 6%, 6%, 10%;
  } 
  .slide1 {
    background-size: cover;
  }  
  h1 {
    font-size: 14.2vh;
  }
  h2 {
    font-size: 3.5vh;
    margin-bottom: 1vh;
  }
  header { margin-bottom: 7vh;}
  .dishes, .calendar { font-size: 3.2vh; }
  .brend-title{ font-size: 12.3vh; }
  .sperm-info { font-size: 3vh; }
  .sperm-block::-webkit-scrollbar-thumb:vertical {
    background-size: 50%
  }  
}


@media only screen  and (max-device-width : 2047px) and (min-device-width : 1025px) {
  .what-next img, .logo img, .content-contents img {
    width: 75%;
  }
  .bg1__img img, .bg3__img img, .bottle img {
    width: 65%;
  }
  .top li {
    font-size: 1.4vw;
  }
  .slide1:after {
    background-size: 26%, 6%, 6%, 10%;
  } 
  .slide1 {
    background-size: cover;
  }  
  h1 {
    font-size: 14.2vh;
  }
  h2 {
    font-size: 3.5vh;
    margin-bottom: 1vh;
  }
  header { margin-bottom: 7vh;}
  .content-contents, .advantages { font-size: 3.2vh; }
  .brend-title{ font-size: 12.3vh; }
  .sperm-info { font-size: 3vh; }
  .sperm-block::-webkit-scrollbar-thumb:vertical {
    background-size: 50%
  }  
}


@media only screen and (min-device-width : 2049px){
  h1 {
    font-size: 14.2vh;
  }
  h2 {
    font-size: 3.5vh;
    margin-bottom: 1vh;
  }
  .container {
    margin: 0px 13vw;
  }
  .content-contents { font-size: 3.2vh; }
}
